{% extends 'newsletters/base.html' %}

{% block title %}Запрос на смену пароля{% endblock %}

{% block content %}

<div class="alert alert-success d-none d-lg-block" role="alert">
    <h4 class="alert-heading">Письмо с инструкцией по смене пароля отправлено!</h4>
    <p>
        На ваш адрес электронной почты было отправлено письмо с инструкцией по смене пароля. Пожалуйста, проверьте свою электронную почту и нажмите на ссылку.
        Если письмо не пришло, проверьте папку спам.
    </p>
</div>
{% endblock %}