{% extends "newsletters/base.html" %}

{% block title %}Смена пароля{% endblock %}

{% block content %}
    <h1>Смена пароля</h1>
    {% if validlink %}
        <p>Пожалуйста, введите новый пароль:</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Сменить пароль"/></p>
        </form>
    {% else %}
        <p>Ссылка на изменение пароля недействительна, возможно она уже была использована. Пожалуйста, повторите свой запрос на восстановление пароля.</p>
    {% endif %}
{% endblock %}