{% extends 'newsletters/base.html' %}

{% block title %}Редактирование профиля{% endblock %}

{% block content %}
{% include 'newsletters/includes/inc_header.html' %}
<h2 class="mb-3">Редактирование профиля {{ user.email }}</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {{ form.as_p }}

    <button type="submit" class="btn btn-primary">Сохранить</button>

    {% if is_manager %}
        <a href="{% url 'users:users_list' %}" class="btn btn-primary">Отменить</a>
    {% else %}
        <a href="{% url 'users:profile_detail' user.email %}" class="btn btn-primary">Отменить</a>
    {% endif %}

</form>
{% endblock %}
